
version: 2.1

commands:
  print_pipeline_id:
    description: "A very simple command for demonstration purposes"
    steps:
      - run: echo ${CIRCLE_WORKFLOW_ID}

jobs:

  save_hello_world_output:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run: echo "hello world" > ~/output.txt
      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - output.txt

  print_output_file:      
    docker:
      - image: circleci/node:13.8.0

    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run: cat /tmp/workspace/output.txt

  pipline_id:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - print_pipeline_id
      - run: exit 1
      - run:
          name: on error
          command: echo "Hello Error!"
          when: on_fail

workflows:
    say-hello-workflow:
      jobs:
        - save_hello_world_output
        - print_output_file:
            requires:
              - save_hello_world_output
        - pipline_id