version: 2.1

jobs:
  print_hello:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - run:
          name: "Say hello"
          command: "echo Hello"
  print_world:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - run:
          name: "Say world"
          command: "echo world"
  print_myname:
      docker:
        - image: circleci/node:13.8.0
      steps:
        - checkout
        - run:
            name: "Say Myname"
            command: echo MYNAME_VAR
workflows:
  hello_workflow:
    jobs:
      - print_hello
      - print_world:
          requires:
            - print_hello
      - print_myname:
          requires:
            - print_world
